<ion-header>
  <ion-toolbar>
    <ion-title>
      Home page
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>-->
  <!--&lt;!&ndash;<iframe *ngFor="let i of array_of_objects" width="100%" height="315" [src]="i.trustedVideoUrl" frameborder="0" allowfullscreen></iframe>&ndash;&gt;-->
  <!--&lt;!&ndash;<p *ngFor="let i of arrayOfLinks" (click)="openPlayer(i)">{{i}}</p>&ndash;&gt;-->
  <!--&lt;!&ndash;<a routerLink="http://localhost:8100/home"></a>&ndash;&gt;-->
  <!--<app-player #playerComponent></app-player>-->
<!--</ion-content>-->






<!--<p *ngFor="let i of array_of_links" (click)="sendLink(i)">{{i}}</p>-->






